body {
  margin:0;
  padding:0;
  box-sizing: border-box;
  height:100vh;
  background-color: #FEE140;
  background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
  color: black;
  font-size: 25px;
  }
  
  .dark-mode {
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  color: white;
  }

  .dark-mode button{
    box-shadow:2px 2px 2px 2px  #cfebf3;
    background: #FC00FF;
  
  }

  /* Toggle button style */
  .btn{
    padding :0.6rem;
    border-radius: 2.2rem;
    font-size: 1rem;
    font-weight: 500;
    position:absolute;
    outline:none;
    border:none;
    box-shadow: 2px 2px 2px 2px #e9e7da;
    background: #FA709A;
    cursor: pointer;
    bottom:92%;
    left:96%;
  }

/* progress_bar  style*/
  #progress_bar{
    height:0.3em;
    background: black;
    width:20%;
    border-radius: 0px 30px 30px 0px;
  }

/* container style */

.container{ 
  /* border:2px solid  black; */
  width:50%;
  text-align: center;
  position:relative;
  margin-inline: auto;


}


/* section style */

section:not(#sec1){

  display: none;
}



  /* footer button style */
 
  footer{
    padding: 0.8rem;
    margin: 1.2rem;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  #next,#prev{
    padding:0.6em;
    border-radius: 1.2em;
    border:none;
    outline:none;
    cursor: pointer;

  }

